@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body{
    font-family: 'Crimson Text', serif;
    box-sizing: border-box;
    /* margin: 1em; */
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-size: 1rem;
}
/* Layout */
header{
    background: url('../assets/backgrounds/h_img.jpg');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;
}
header .details{
    padding: 2em;
    margin: 2em 0; 
}
.details img{
    padding: 2em 0;
}
.details p{
    font-size: .875rem;
    font-weight: bold;
    padding-top: 1.5em;
    letter-spacing: 2px;
}
.about{
    text-align: center;
    /* line-height: .5em; */
    max-width: 80%;
    margin: 0 auto;
}

.services{
    background: url('../assets/backgrounds/s_image.jpg');
    color: white;
    text-align: center;
    max-width: 100%;
}
.services .info{
    /* border: 1px red solid; */
    margin: 2em;
    padding: 2em;
    /* line-height: .5em; */
}
.portfolio{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}
.portfolio img{
    width: 100%;
}
.firstRow img,
.secondRow img{
    margin: .5em 0;
}
@media (min-width: 650px ){
    .firstRow img,
    .secondRow img{
        margin: 0;
    }
}
.contact{
    background: url('../assets/backgrounds/c_image.jpg');
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 2em;
}
.contact form{
    margin: 0;
}
@media (min-width: 650px ){
    .contact form{
        max-width: 70%;
        margin: 0 auto;
    }
}
