@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body{
    font-family: 'Crimson Text', serif;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-size: 1rem;
}
/* Layout */
header{
    background: url('../assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
header .details{
    padding: 2em;
    margin: 2em 0; 
}
.details img{
    padding: 2em 0;
}
.details p{
    font-size: .875rem;
    font-weight: bold;
    padding-top: 1.5em;
    letter-spacing: 2px;
}
.about{
    text-align: center;
    /* border: 1px black solid; */
    line-height: .5em;
    padding: 0 1em;
}

.services{
    background: url('../assets/backgrounds/c_image.jpg');
    
}